html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  

  .wrapper {
    width: 450px;
    border: black 3px solid;
    margin: 0 auto;
    height: 400px;
    }
  
  .screen {
    text-align: right;
    height: 120px;
    padding: 3rem 0.5rem;
    color: black;
    font-size: 3rem;
    background-color: #f5f9ee;
    border-bottom: black 3px solid;
  }


.calc-buttons{
display: grid;
grid-auto-flow: row;
 }
  
  .calc-button-row {
 
  }
  .calc-button {
    background-color: white;
    color: black;
    font-size: 2rem;
    border: none; }

  button:hover {
    background-color: #f8da5b;
  }

  #equalsign {
    background-color: #1565C0;
    color: black;}

  footer{text-align: center;
  margin-top: 3rem;}